.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: $border-radius;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  }
  
  &:disabled {
    background-color: $color-line;
  }

  &--large,
  &--medium {
    font-size: 14px;
    font-weight: bold;
  }

  &--small {
    font-size: 13px;
    font-weight: 500;
  }

  &--large {
    min-width: $button-large-min-width;
    min-height: $button-large-min-height;
    padding-left: 20px;
    padding-right: 20px;
  }

  &--medium {
    min-width: $button-medium-min-width;
    min-height: $button-medium-min-height;
  }

  &--small {
    min-width: $button-small-min-width;
    min-height: $button-small-min-height;
  }

  &--outline {
    
  }

  // button name
  &--active {
    background-color: $color-active;
  }

  &--inactive {
    background-color: $color-inactive;
  }

  &__icon {
    margin-right: 10px;
  }
}

.button-action {
  float: right;
  display: flex;
  justify-content: space-between;
  width: 55px;
  margin-top: 3px;

  &__edit,
  &__remove {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}