.native-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 0;
  outline: none;
  background-size: 12px;
  background-position: calc(100% - 5px) 50%;
  background-repeat: no-repeat;
  padding: 5px;
  border: 1px solid transparent;
  @extend .icon-select-dropdown;
  
  &:hover {
    border: 1px solid $color-line;
  }
}