*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'SanFrancisco', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

.block {
  display: inline-block;
  margin: 10px;
  padding: 20px;
}

.fullwidth {
  width: 100%;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}