@font-face {
  font-family: $font-name;
  src: url($font-src-medium);
  font-weight: 500;
}

@font-face {
  font-family: $font-name;
  src: url($font-src-bold);
  font-weight: bold;
}

@font-face {
  font-family: $font-name;
  src: url($font-src-light);
  font-weight: 300;
}

@font-face {
  font-family: $font-name;
  src: url($font-src-heavy);
  font-weight: 900;
}
 