// grid
.container {
  width: 100% !important;
  max-width: initial !important;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
}

.row {
  margin-left: -($grid-gutter-width / 2) !important;
  margin-right: -($grid-gutter-width / 2) !important;
}

.row--10 {
  $grid-columns: 10;

  @include make-grid-columns($grid-columns);
}

.col {
  padding-left: $grid-gutter-width / 2 !important;
  padding-right: $grid-gutter-width / 2 !important;
}