.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
  
.text-center {
  text-align: center !important;
}

.text-headline {
  font-family: '';
  font-size: '';
}

.text-body {
  font-family: '';
  font-size: '';
}

.text-active-color {
  color: $color-active;
}